body{
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    background-color: white;
}


.newnav{
    display: none;
}



.nav-bar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.nav-bar a{
    color: red;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 10px;
}

.nav-bar a:hover{
    text-decoration: underline;
}
/*
nav{
    top: 0;
    right: 0;
    width: fit-content;
    position: fixed;
    display: flex;
    z-index: 5;
}

*/
.links-container{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    display: none;
    font-size: 1.5rem;
}




#sidebar-active{
    display: none;
}



.open-sidebar-button, .close-sidebar-button{
    display: none;
    margin: 0;
}

.intro-text{
    color: red;
    text-align: center;
    font-family: Poppins;
    background-color: white;
}

.intro-text button{
    background-color:red;
    color: white;
    padding: 10px;
    font-size: 100%;
    border-radius: 10px;
    border: none;
    margin-left: 60%;
    margin-right: 10%;
}

.intro-text button a{
    color: white;
    text-decoration: none;
}





.about-words{
    text-align: center;
    padding-bottom: 30px;
    background-color: black;
    box-shadow: 0px -10px 5px red;
    font-family: Poppins;
    
}

.about-words-span{
    color: red;
    padding-block: 10px;
    font-size: 3rem;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    
    
}

.about-words-span::after{
    content: "";
    
    width: 100%;
    height: 20px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1412 136"><path d="M2.9 51.31c1.54 1.59 3.55 2.42 5.67 2.93 9.55 2.69 12.36 4.04 30.44 7.8-3 .3-5.73.44-8.57 3.08a9.83 9.83 0 0 0-2.07 10.92c.83 2.7 3.33 4.22 5.31 6.05 10.97 9.24 37.74 12.54 57.74 16.6 28.32 5.7 56.66 11.52 85.37 14.86 23.26 11.61 80.27 14.32 103.75 15.4 34.52 2.19 69.08 3.36 103.65 3.76 121.04 6.36 242.43.51 363.58.82 271.97-15.76 111.74-7.14 354.24-27.85 46.28-2.18 92.54-4.84 138.71-8.85 12.39-1.12 31.77-2.4 34.68-3.76 3.32-1.16 5.52-4.34 6.02-7.77 123.48-7.79 121.13-7.18 123.45-8.4 4.59-1.61 7.1-7.14 5.79-11.8a10.12 10.12 0 0 0-9.64-7.34c-46.89.01-33.59-2.78-103.06 3.46l10.94-1.87c1.99-.76 4.08-1.67 5.19-3.58 4.19-4.72 2.14-13.98-5.64-15.77-3.38-2.63-6.42-2-14.13-2.11-4.56-.7-9.13-1.34-13.72-1.81 34.64-5.34 46.49-8.03 55.99-12.31 2.43-1.11 4.63-2.64 6.94-3.97 14.45-7.01 3.34-24.98-8.18-18.36-2.71 1.43-5.2 3.25-7.94 4.62-11.02 4.17-22.83 5.68-34.36 7.85-36.51 6.23-65.21 9.47-105.27 13.24-39.97 3.44-79.94 7.17-120.01 9.1-112.89 6.65-225.89 10.72-338.92 13.94-139.42 4.28-72.29 2.74-238.74 3.83-152.12.02-105.22.84-209.3-3.14-24.84-.9-33.26-1.91-65.79-4.63-17.2-1.82-43.29-7.05-66.97-9.27-4.21-.16-8.68-1.39-12.64.37a9.33 9.33 0 0 0-5.97 7.81l-.03.26c-68.56-8.07-86.97-8.7-119.44-11.18a7.6 7.6 0 0 0-3.85.86 9.31 9.31 0 0 0-5.97 7.81c-.59 3.07.64 6.15 2.75 8.4Z" fill="%23FF0000"></path></svg>');
    
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;

    
}



#first-p{
    padding-top: 3%;
}

.about-words p{
    width: 70%;
    padding-block: 10px;
    margin: 0 auto;
    font-size: 1.5rem;
    color: white;
    font-family: Story Script;
    animation: appear 0.5s linear;
    text-align: left;
}



.footer{
    display: flex;
    border-top: 3px solid red;
    color: white;
    background-color: black;
}

.left-box{
    width: 50%;
    font-size: 2vw;
    font-family: Story Script;
}

.left{
    width: 80%;
    margin: 0 auto;
}

.left-svg{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.left svg{
    width: 90%;
    height: 50px;
    fill: #f61d48;
}

.right{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    font-family: Poppins;
}

.location{
    width: 40%;
    
}

.location h1{
    font-size: 1.5rem;
}

.contact{
    width: 40%;
    
}

.contact h1{
    font-size: 1.5rem;
}

.contact a{
    color: white;
}






@media(max-width: 1200px){


    body{
        position: relative;
        z-index: 1;
    }
    .intro-text{
        margin-bottom: 30px;
        font-size: 2vw;
    }

    .links-container-a a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        display: block;
    }


    .links-container-button{
        background-color:red;
        color: white;
        border-radius: 10px;
        border: none;
        margin-left: 5%;
        padding-block: 10px;
    }
    
    .links-container-button-a{
        padding: none;
        margin: none;
    }




    .newnav{
        position: relative;
        z-index: 9999;
    }


    .about-words-span{
        font-size: 5vw;
    }

    
    .about-words p{
        width: 80%;
        font-size: 3vw;
    }








    .left-box{
        width: 50%;
        font-size: 2.5vw;
    }

    .location{
        font-size: 2vw;
    }

    .location h1{
        font-size: 2.5vw;
    }

    .contact{
        font-size: 2vw;
    }

    .contact h1{
        font-size: 2.5vw;
    }
}

@media(max-width: 600px){
    
    body{
        background-color: black;
    }
    .links-container{
        width: 40%;
        

    }
    
    nav a{
        font-size: 1rem;
    }

    .intro-text{
        display: none;
    }


    .newnav{
        color: white;
        width: 100%;
        height: 3rem;
        top: 0;
        background-color: red;
        border-bottom: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        overflow: hidden;
        
        font-family: Poppins;
    }
    
    .newnav-intro{
        
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
    }
    
    .newnav-intro img, .newnav-intro a{
        height: 100%;
        width: auto;
    }

    .newnav-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 30%;
    }

    nav{
        display: flex;
    }

    nav input{
        display: none;
    }


    nav a{
        color: white;
        text-decoration: none;
        padding: 0;
    }



    .links-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 40%;
        transition: 1s ease-out;
        background-color: black;
        border-left: 2px solid white;
    }
    
    .links-container a{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 9;
        
    }




    .links-container-a a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        display: block;
    }

    nav a:hover{
        text-decoration: underline;
    }
   
    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding: 20px;
    }

    .open-sidebar-button{
        margin-left: auto;
    }


    #sidebar-active:checked ~ .links-container{
        right: 0;
    }


    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }


    .links-container-button{
        background-color:red;
        color: white;
        border-radius: 10px;
        border: none;
        margin-left: 15%;
        padding-block: 10px;
    }
    
    .links-container-button-a{
        padding: none;
        margin: none;
        font-size: 1rem;
    }


    .about-words{

        margin-top: 10%;
        box-shadow: none;
    }


    .about-words-span{
        z-index: 1;
       
        
    }
    
    .about-words-span::after{
        z-index: 1;
       
        
        
    }

    .about-words-p{
        margin-top: 5%;
    }

    .about-words-p p{
        font-size: 4vw;
    }


    .left-svg{
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    
    .left svg{
        width: 80%;
        fill: #f61d48;
    }

    .left{
        font-size: 3.5vw;
    }

    .right h1{
        font-size: 3vw;
    }
}

@keyframes appear {
    from {scale: 0.8; opacity: 0;}
    to {scale: 1; opacity: 1;}
}